
 * {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    /* background-image: url(Back.png); */
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    float: left;
    width:  60%;
    height: 60%;
    object-fit: cover;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #2f4f4f;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .grid-item:hover {
  transform: scale(0.963); /* Increase the scale to make it grow */
 }   

  .grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width:  80%;
    height: 95%;
    object-fit: cover;
    
  }

  .grid-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffffff;
  }

  .grid-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
  }
  @media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1200fr 3fr 2;
        padding-top: 3.0rem;
        width:  150%;
    height: 150%;
    }}
